<!DOCTYPE html>
<html>
<head>
  <title>Registro de Cliente</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <script src="validation.js"></script>
</head>

<body>
  <header>
  <div class="container-hero">
    <div class="container hero">
      <div class="customer-support">
        <i class="fa-solid fa-headset"></i>
      </div>
      <div class="container-logo">
        <i class="fa-solid fa-mug-hot"></i>
        <h1 class="logo"><a href="/">Inmobiliaria Casa Ideal</a></h1>
      </div>
    </div>
  </div>
  </header>
  <div class="navigation">
    <ul>
      <li><a href="#datos" data-toogle="tab">Datos cliente</a></li>
      <li><a href="#requisitos1" data-toogle="tab">Requisitos generales</a></li>
      <li><a href="#requisitos2" data-toogle="tab">Requisitos especificos</a></li>
    </ul>
  </div>
  <div class="tab-content">
  <div class="tab-pane" id="datos">
    <div class="form-box">
    <div class="form-value">
    <form action="guardar_cliente.php" method="POST" onsubmit="return validateForm()">
    
        <h2>Registro de Cliente</h2>
      <label for="ciCliente">CI Cliente:</label>
      <input type="text" id="ciCliente" name="ciCliente" required>

      <label for="nombreCliente">Nombre Cliente:</label>
      <input type="text" id="nombreCliente" name="nombreCliente" required>

      <label for="nroHijos">Número de hijos:</label>
      <input type="number" id="nroHijos" name="nroHijos" required>

      <label for="estadoCivil">Estado Civil:</label>
      <input type="text" id="estadoCivil" name="estadoCivil" required>

      <label for="correoCliente">Correo Electrónico:</label>
      <input type="email" id="correoCliente" name="correoCliente" required>

      <label for="tieneTrabajo">¿Tiene trabajo?</label>
      <input type="text" id="tieneTrabajo" name="tieneTrabajo" required>

      <label for="direccionCliente">Dirección Cliente</label>
      <input type="text" id="direccionCliente" name="direccionCliente" required>

      <input type="submit" value="Guardar">
    </form>
    </div>
  </div>
  </div>

  <div class="tab-pane" id="requisitos1">
    <h1>requisitos-generales</h1>
  </div>

  <div class="tab-pane" id="requisitos2">
    <h1>requisitos-especificos</h1>
  </div>
  </div>
  <div>

  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <div class="wizard-footer height-wizard">
        <div class="pull-right">
            <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm siguiente' name='next' value='Siguiente'/>
            <input type='submit' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Fin' />
        </div>
    </div>
    </div>
  </div>

</body>
</html>

