body {
    font-family: 'Handlee', cursive, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("IMG/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .container {
    max-width: 500px;
    margin: 15px auto; 
    background-color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(255, 250, 250, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  
  .container-logo h1 a {
    text-decoration: none;
    color: #30448b;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  
  .form-box {
    position: relative;
    width: 400px;
    height: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .form-value {
    height: 100%;
    display: flex;
    flex-direction: row; /* Cambio de column a row */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: center;
  }
  
  .form-heading {
    text-align: center;
    margin-top: 0;
  }
  
  .vistaDatosCliente{
    display: none;
  }

  .vistaRequisitosGenerales{
    display: none;
  }

  .vistaRequisitosEspecificos{
    display: none;
  }

  h2 {
    color: #ffffff;
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    color: #ffffff;
    display: inline-block; /* Cambio a inline-block */
    margin-right: 10px; /* Añade un espacio entre el label y el campo de formulario */
    font-weight: bold;

  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #b9b5b5;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #b1c4e8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  input[type="submit"]:hover {
    background-color: #6c8ad5;
  }
  
  .button {
    background-color: #8d5fdb;
    color: #fff;
    padding: 10px 20px;
    border: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .button:hover {
    background-color: #8b16c6;
  }


  form,label {
  width: 100%; /* O el ancho deseado */
  display: block; /*puede ser esto*/
  
}

